RewriteEngine On

# 隐藏 index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# 重写规则用于备案查询
RewriteRule ^query/(.*)$ index.php?search=$1 [QSA,L]
RewriteRule ^page/([0-9]+)$ index.php?page=$1 [QSA,L]
RewriteRule ^query/(.*)/page/([0-9]+)$ index.php?search=$1&page=$2 [QSA,L]